{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>Login</h2>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    {% if message %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endif %}
    <form method="post" action="{{ url_for('login') }}">
        <label>Username: <input type="text" name="username" maxlength="50" required></label><br>
        <label>Password: <input type="password" name="password" maxlength="255" required></label><br>
        <button type="submit" class="auth-btn">Login</button>
    </form>
{% endblock %}